{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <section class="home"></section>
  <div class="welcome-text">
    <h1>Welcome to the OptiRoute</h1>

    {% if session.get('user_id') %}
      <p>Hello, {{ username }}! Start find nearest path now.</p>
      <a href="{{ url_for('search') }}">
        <button class="join-btn">Find Path</button>
      </a>

    {% else %}
      <p>Find Your Nearest Path to the Hospitals/ Clinics in Calgary</p>
      <a href="{{ url_for('register') }}">
        <button class="join-btn">Connect with Us</button>
      </a>
    {% endif %}
  </div>

  <img src="{{ url_for('static', filename='images/background.png') }}" class="bg-image" alt="Bookshelf background image">
{% endblock %}